# Node
node_modules/

# Environment Variables
.env

# Playwright Reports
playwright-report/
test-results/

# Allure Reports
allure-report/
allure-results/

# Screenshots & Logs
screenshots/
logs/

# Mac Files
.DS_Store